// required to get $orange variable
@import "../node_modules/bootstrap/scss/functions"; 
@import "../node_modules/bootstrap/scss/variables";

$primary: $purple; // set the $primary variable
$secondary: $purple-300;
$teriary: $purple-700;

// merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $teriary
));

// set changes
@import "../node_modules/bootstrap/scss/bootstrap";